---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title="Página no encontrada">
    <main class="text-center text-white p-4">
        <h1 class="text-5xl p-4">¡Esta página no existe!</h1>
        <p>
            Puede que se haya movido, eliminado o nunca existió, ¿Estás seguro que el link (<span class="p-1 bg-red-600 text-white font-medium rounded">{ Astro.url }</span>) está bien escrito?
        </p>
        <div class="flex items-center justify-center p-4">
            <Image src="/images/confusion.jpg" class="p-4 rounded-full" loading="lazy" width='500' height="500" alt="Equipo de niños celebrando su más reciente logro">
        </div>
        <a href="/" class="p-4 bg-blue-700 rounded font-medium">Regresar al inicio</a>
    </main>
</Layout>