---
import Layout from "@layout";
import { Image } from "astro:assets";
import confusion from "@images/confusion.webp";
---

<Layout title="Página no encontrada" description="Esta página no existe">
    <main class="text-center p-4">
        <h1 class="principal-title">¡Esta página no existe!</h1>
        <p>
            Puede que se haya movido, eliminado o nunca existió, ¿Estás seguro
            que el link está bien escrito?
        </p>
        <div class="items-center justify-center p-4">
            <Image
                src={confusion}
                class="p-4 rounded-full"
                loading="lazy"
                alt="Equipo de niños celebrando su más reciente logro"
            />
            <a href="/" class="p-4 bg-blue-700 rounded font-medium"
                >Regresar al inicio</a
            >
        </div>
    </main></Layout
>
