---
import Layout from "@layout";
---

<Layout title="Academias" description="Encuentra la academia perfecta para ti" borrador={true}>
    <main>
        <h1>Hola mundo</h1>
        <p>wfhjsdfhkdjshfjksdhfjkh</p>
    </main>
</Layout>
