---
import Layout from "@layout";
---

<Layout draft={true} title="Contacto" description="Contacta a la Asociación Mexicana de Desarrollo Motriz Infantil">
    <main>
        <h1>Contacto</h1>
    </main>
</Layout>