---
import { CORREO, TELEFONO, DIRECCION } from "src/constants";
import { Image } from "astro:assets";
import Correo from "@icons/email.svg";
import Celular from "@icons/celular.svg";
import Layout from "@layout";
import Mapa from "@icons/mapa.svg";

const metodos = {
    correo: {
        icono: Correo,
        titulo: "Correo",
        contenido: CORREO,
    },
    telefono: {
        icono: Celular,
        titulo: "Teléfono",
        contenido: TELEFONO,
    },
    direccion: {
        icono: Mapa,
        titulo: "Dirección",
        contenido: DIRECCION
    },
}
---

<Layout
    draft={true}
    title="Contacto"
    description="Contacta a la Asociación Mexicana de Desarrollo Motriz Infantil"
>
    <main class="p-10 text-center">
        <h1>Contacto</h1>
        <p>¿Tienes alguna duda o comentario? ¡Contáctanos!</p>
        <div
            id="metodos"
            class="grid lg:grid-cols-2 grid-cols-1 *:justify-items-center *:content-center *:items-center"
        >
        {
            Object.values(metodos).map(({icono, titulo, contenido}) => (
                <div class="p-4">
                    <Image src={icono} alt="icono de contacto" class="h-12 w-46 fill-red-700" />
                    <h2 class="text-lg font-bold">{titulo}:</h2>
                    <p>{contenido}</p>
                </div>
            ))
        }
        </div>
    </main>
</Layout>
