<h1>Hello World!</h1>

<!--
Kevin > Esta es mi primera página con Astro,
ha sido todo un pedo hacer todo esto,
ya que la universidad no me enseñó una
miseria y tuve que hacer todo esto
con tutoriales de internet, café
y muchos errores encontrados en git log.

Tardé un mes en hacerlo, sin figma u otro
editor de UX/UI, no caigas en mi error,
aprende a usar figma u otro editor,
no sabes los dolores de cabeza que tuve 
haciendo esto que te puedes ahorrar.

Ni pedo, iba a estudiar Big Data y ser
cientifico de datos pero pinche
profe nomás se la pasaba hablando de cómo
la gente de la India olía a mrd, y porqué
la gente que él llamaba "jodida" iba a lugares
como Coppel y Banco Azteca en vez de Liverpool.
Regresate al DF, cabrón.

Con esta canción me despido, nos vemos en alguna otra nota
en algún otro proyecto
https://www.youtube.com/watch?v=CfMfLtJ5rCk


Firmado por @kevinlealtorres
01/07/24 - 9:35pm
-->