---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import BtnDonar from "../components/BtnDonar.astro";
---

<Layout title="Proyecto AMDI">
  <main class="dark:text-white">
    <div
      id="presentacion"
      class="relative bg-cover bg-center h-screen bg-[url('/equipo.jpg')] text-center grid items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1 class="text-6xl font-bold">Selecci贸n AMDI Jalisco</h1>
        <p class="p-2">
          Asociaci贸n que se preocupa por darle actividades de alto nivel a cada
          uno de sus integrantes en sus diferentes disciplinas.
        </p>
      </div>
    </div>
    <div id="quienes" class="p-2 m-4 h-screen text-center font-medium">
      <h2 class="text-6xl">#DejandoHuella</h2>

      <p>
        Somos la Asociaci贸n Mexicana de Desarrollo Motriz Infantil. participante
        de la Copa America AIFI. de diversas categorias infantiles, como 2012 o
        2008.
      </p>
    </div>

    <div id="testimonios">
      <p>Esto dice la gente de nosotros:</p>
      <div>
        <!-- testimonios -->
      </div>
    </div>

    <div id="CTA">
      <p>
        Si quieres apoynarnos para que nuestro equipo pueda crecen y alcanzar
        las grandes ligas, considera donar en el bot贸n de <strong>donar</strong
        >:
      </p>
      <BtnDonar />
    </div>
  </main>
</Layout>
