---
import { Image } from "astro:assets";
import Partidos from '../components/Partidos.astro'
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { NOMBRE } from "../constants";
---

<Layout title="Selección AMDI Jalisco ⚽">
  <main class="text-white text-center">
    <div
      id="presentacion"
      class="relative bg-cover bg-center h-screen bg-[url('/images/equipo.jpg')] grid items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1 class="text-6xl font-bold">{NOMBRE}</h1>
        <p class="p-4 text-xl">
          Asociación que se preocupa por darle actividades de alto nivel a cada
          uno de sus integrantes en sus diferentes disciplinas.
        </p>
        <a class="rounded bg-red-700 p-3 font-medium hover:bg-red-800" href="/apoyanos"> 🤝 ¡Apoyanos!</a>
      </div>
    </div>

    <div
      id="partidos"
      class="relative bg-cover bg-center h-screen bg-[url('/images/partidos.webp')] items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1
          class="2xl:text-8xl xl:text-7xl lg:text-5xl md:text-4xl text-3xl font-bold"
        >
          Partidos
        </h1>
        <Partidos/>
          <!--
            <a href="/trabajando" class="p-2 bg-blue-700 hover:bg-blue-800 rounded font-medium">Ver todos los partidos</a>
          -->
      </div>
    </div>

    <div id="quienes" class="p-4 mb-4 font-medium">
      <h2 class="text-4xl md:text-6xl sm:text-6xl p-4">#DejandoHuella</h2>
      <p class="text-balance text-lg">
        Somos la Asociación Mexicana de Desarrollo Motriz Infantil. participante
        de la Copa America AIFI. de diversas categorias infantiles, como 2012 o
        2008.
      </p>

      <div class="h-full py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div
            class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12"
          >
          </div>

          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <Image
                src="/images/equipo.webp"
                loading="lazy"
                width="50"
                height="50"
                alt="Entrenador enseñando al equipo de niños"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Esfuerzo</span
              >
            </a>
            <!-- image - end -->
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <Image
                src="/images/equipo2.webp"
                loading="lazy"
                width="50"
                height="50"
                alt="Equipo formulando un plan"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Aprendizaje</span
              >
            </a>
            <!-- image - end -->
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <Image
                src="/images/equipo.jpg"
                loading="lazy"
                width="50"
                height="50"
                alt="Equipo tomandose una foto en un templo"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Hermandad</span
              >
            </a>
            <!-- image - end -->
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <Image
                src="/images/equipo3.png"
                loading="lazy"
                width="50"
                height="50"
                alt="Jugadores compitiendo por el balón"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Ganar</span
              >
            </a>
            <!-- image - end -->
          </div>
        </div>
      </div>
    </div>
    <!--
    <a href="/trabajando" class="rounded hover:bg-red-700 bg-red-600 p-4 font-medium m-4"
    >Ver testimonios</a>
    -->

    <div id="historia" class="m-4 p-4 justify-center items-center">
      <h2 class="text-4xl font-medium">Historia:</h2>
      <hr
        class="w-64 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
      />

      <h3 class="text-2xl font-medium">2018, Jalisco</h3>
      <p class="text-4xl font-medium">↓</p>

      <div id="inicios" class="p-4 xl:flex items-center">
        <p>
          Nació un sueño bajo el nombre de "Academia Mexicana de Desarrollo
          Infantil". Con un claro y ambicioso objetivo: llevar a los niños
          jalisciences talentosos y apasionados a explotar todo su potencial y
          transformarlos en jugadores competitivos de la talla de grandes ligas.
        </p>
        <div class="xl:flex-shrink-0">
          <Image
            src="/images/inicios.jpg"
            loading="lazy"
            alt="Niño parando un balón"
            class="p-4 m-4"
            height="500"
            width="500"
            />
        </div>
      </div>

      <!-- TORNEO PERÚ ENTRADA -->

      <div id="torneoperu" class="p-4">
        <h3 class="text-2xl font-medium">11 de octubre de 2022</h3>
        <p class="text-4xl font-medium">↓</p>
        <div class="xl:flex items-center justify-center">
          <div class="xl:flex-shrink-0">
            <Image
              class="py-4 object-fill"
              src="/images/torneo_peru.jpeg"
              loading="lazy"
              alt="Niños listos para competir en el torneo de Perú"
              height="500"
              width="500"
            />
          </div>
          <p class="p-4">
            Integrada por talentosos niños de entre 13 y 14 años, la selección
            de Jalisco se enfrentó a Perú en un emocionante partido el pasado
            domingo 9 de octubre en Tingo María, Huánuco. Después de un empate
            en el tiempo reglamentario, la final se decidió en una intensa tanda
            de penales, en la que los jaliscienses emergieron victoriosos,
            demostrando su increíble habilidad y determinación. Estos jóvenes
            atletas, originarios de Jalisco y provenientes de prestigiosas
            escuelas de fútbol como Chivas, Atlas y Pumas, fueron seleccionados
            mediante visorías de la AMDI (Asociación Mexicana de Desarrollo
            Motriz Infantil).
            <a
              class="text-white p-1 font-medium rounded hover:bg-blue-800 bg-blue-700 underline"
              target="_blank"
              href="https://www.informador.mx/deportes/Seleccion-de-Futbol-AMDI-Jalisco-se-corona-en-torneo-CAED-en-Peru-20221011-0096.html"
              >Nota completa</a
            >
          </p>
        </div>
      </div>

      <!-- TORNEO PERÚ SALIDA -->

      <!-- COPA BRASIL ENTRADA -->

      <div id="copabrasil" class="p-4">
        <h3 class="text-2xl font-medium">16 de febrero de 2023</h3>
        <p class="text-4xl font-medium">↓</p>
        <div class="xl:flex items-center justify-center">
          <p class="p-4">
            La selección de fútbol AMDI Jalisco sigue haciendo historia y
            demostrando su excelencia en el deporte. Conformada por talentosos
            niños de la categoría 2012, este equipo mexicano logró una
            impresionante medalla de bronce en la Copa América AIFI en Brasil,
            celebrada del 4 al 11 de febrero de 2023. Gracias a una
            sobresaliente participación, México aseguró el tercer lugar con una
            victoria de 2-1 sobre Bolivia, en una competencia donde Uruguay se
            coronó campeón.
            <a
              class="text-white p-1 rounded font-medium bg-blue-700 hover:bg-blue-800 underline"
              target="_blank"
              href="https://www.informador.mx/deportes/Seleccion-de-Futbol-AMDI-Jalisco-se-corona-en-torneo-CAED-en-Peru-20221011-0096.html"
              >Nota completa</a
            >
            <div class="xl:flex-shrink-0">
              <Image
                class="py-4 object-fill"
                src="/images/copa_brasil.jpg"
                loading="lazy"
                alt="Niños listos para jugar la Copa Brasil"
                height="500"
                width="500"
                />
            </div>
          </p>
        </div>
      </div>

      <!-- COPA BRASIL SALIDA -->

      <!-- RECONOCIMIENTO ALFARO ENTRADA -->

      <div class="reconocimientoalfaro">
        <h3 class="text-2xl font-medium">26 de enero de 2024</h3>
        <p class="text-4xl font-medium">↓</p>
        <div class="xl:flex items-center justify-center">
          <div class="xl:flex-shrink-0">
            <Image
              class="py-4 object-fill"
              src="/images/reconocimiento_alfaro.jpeg"
              loading="lazy"
              alt="Alfaro tomandose fotos con los niños, orgulloso de ellos y levantando el pulgar"
              height="500"
              width="500"
              />
          </div>
          <p class="p-4">
            "Con mucho orgullo, recibí a las niñas y niños de los equipos de
            futbol de la Asociación Mexicana de Desarrollo Motriz Infantil,
            AMDI, 45 pequeñas y pequeños que, con todo su talento y entusiasmo,
            competirán en la Copa Infantil América que este año será en
            Argentina." - Enrique Alfaro, gobernador de Jalisco
            <a
              class="text-white p-1 font-medium rounded bg-blue-700 hover:bg-blue-800 underline"
              target="_blank"
              href="https://twitter.com/EnriqueAlfaroR/status/1751064108818891158"
              >Nota completa</a
            >
          </p>
        </div>
      </div>

      <!-- RECONOCIMIENTO ALFARO SALIDA -->
    </div>

    <div id="somos" class="grid grid-cols-2 gap-2">
      <h2 class="text-4xl font-medium p-4 col-span-2">Lo que nos define:</h2>
    
      <div class="xl:flex text-center p-2 col-span-2 space-y-4 md:space-y-0 md:space-x-4">
        <div class="relative rounded-2xl overflow-hidden flex-1">
          <img src="/images/equipo2.webp" loading="lazy" alt="Mujer entrenadora dando clases" class="absolute inset-0 w-full h-full object-cover opacity-20">
          <div class="relative bg-red-700 bg-opacity-50 rounded-2xl p-4">
            <h3 class="text-2xl p-2">Misión</h3>
            <p class="p-4">
              "AMDI fue fundada con la misión de llevar a los niños a alcanzar
              todo su potencial y transformarlos en jugadores competitivos capaces
              de destacar en las mejores ligas del país. {NOMBRE} se dedica a
              proporcionar una plataforma donde el talento y la pasión de los
              jóvenes jaliscienses puedan brillar, a través de un enfoque integral
              que abarca el desarrollo físico, emocional y mental."
            </p>
          </div>
        </div>
    
        <div class="relative rounded-2xl overflow-hidden flex-1">
          <img src="/images/equipo.jpg" loading="lazy" alt="Niños tomandose una foto en un templo" class="absolute inset-0 w-full h-full object-cover opacity-20">
          <div class="relative bg-blue-700 bg-opacity-50 rounded-2xl p-4">
            <h3 class="text-2xl p-2">Visión</h3>
            <p class="p-4">
              "La visión de AMDI es crear una comunidad de apoyo que fomente el
              compañerismo y la disciplina, preparando a los jóvenes no solo para
              el deporte, sino también para la vida. AMDI aspira a ser reconocida
              como un semillero de campeones que no solo logran victorias en el
              campo, sino que también llevan consigo valores sólidos y un profundo
              amor por el juego, impactando positivamente la vida de sus miembros
              y sus comunidades."
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </main>
</Layout>
