---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import BtnDonar from "../components/BtnDonar.astro";
---

<Layout title="Proyecto AMDI">
  <main class="dark:text-white text-center">

    <div
      id="presentacion"
      class="relative bg-cover bg-center h-screen bg-[url('/equipo.jpg')] grid items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1 class="text-6xl font-bold">Selección AMDI Jalisco</h1>
        <p class="p-2">
          Asociación que se preocupa por darle actividades de alto nivel a cada
          uno de sus integrantes en sus diferentes disciplinas.
        </p>
      </div>
    </div>

    <div
      id="partidos"
      class="relative bg-cover bg-center h-screen bg-[url('/partidos.webp')] items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1 class="text-6xl font-bold">Partidos</h1>
        <p class="p-2">
          Proximos partidos:
        </p>
      </div>
    </div>

    <div id="quienes" class="p-2 font-medium">
      <h2 class="text-6xl md:text-2xl sm:text-xl">#DejandoHuella</h2>
      <p>
        Somos la Asociación Mexicana de Desarrollo Motriz Infantil. participante
        de la Copa America AIFI. de diversas categorias infantiles, como 2012 o
        2008.
      </p>

      <div class="h-full py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div
            class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12"
          >
          </div>

          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <img
                src="/equipo.webp"
                loading="lazy"
                alt="Entrenador enseñando al equipo de niños"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Esfuerzo</span
              >
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <img
                src="/equipo2.webp"
                loading="lazy"
                alt="Photo by Magicle"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Aprendizaje</span
              >
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <img
                src="/equipo.jpg"
                loading="lazy"
                alt="Photo by Martin Sanchez"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Hermandad</span
              >
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <img
                src="/equipo3.png"
                loading="lazy"
                alt="Photo by Lorenzo Herrera"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Ganar</span
              >
            </a>
            <!-- image - end -->
          </div>
        </div>
      </div>
    </div>

    <p class="text-balance">
      Nos dedicamos arduamente a crear profesionales del deporte, por medio de
      juegos, de teoria y practica. Llegamos nosotros a crear todo un espacio
      seguro donde los niños pueden aprender y demostrar sus capacidades en la
      cancha.
    </p>
  </main>
  <div id="CTA">
    <p>
      Si quieres apoyarnos para que nuestro equipo pueda crecen y alcanzar las
      grandes ligas, considera donar en el botón de <strong>donar</strong>:
    </p>
    <BtnDonar />
  </div>
</Layout>
