---
import Layout from "@layout";
---

<Layout
    title="Nosotros"
    description="Aquí encontrarás quienés somos nosotros"
    draft={true}
>
    <main>
        <h1>Nosotros</h1>
    </main>
</Layout>
