---
import Layout from "@layout";
---

<Layout title="Patrocinadores" description="Conoce a nuestros patrocinadores" draft={true}>
    <main class="text-center">
        <h1>¡Gracias por su apoyo ❤️!</h1>
        <p>
            Gracias a nuestros patrocinadores podemos seguir adelante con nuestra
            misión de ayudar a los niños a desarrollar sus habilidades motrices.
        </p>
        <div class="grid grid-cols-2 gap-4 p-4">
            <div class="bg-gray-200 p-4 rounded">
                <h2>Patrocinador 1</h2>
                <p>Descripción del patrocinador 1</p>
            </div>
            <div class="bg-gray-200 p-4 rounded">
                <h2>Patrocinador 2</h2>
                <p>Descripción del patrocinador 2</p>
            </div>
            <div class="bg-gray-200 p-4 rounded">
                <h2>Patrocinador 3</h2>
                <p>Descripción del patrocinador 3</p>
            </div>
            <div class="bg-gray-200 p-4 rounded">
                <h2>Patrocinador 4</h2>
                <p>Descripción del patrocinador 4</p>
            </div>
    </main>
</Layout>