---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main>
        <h1 class="dark:text-white text-center grid justify-center">
            Estamos trabajando en ello, aún no se desesperen, a toda marcha estamos allí echandole ganas
        </h1>
        <img src="/trabajando.gif" alt="gato trabajando">
    </main>
</Layout>