---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import chambeando from "@images/apoyanos.webp"
---

<Layout title="Trabajando">
    <main class="text-white text-center">
        <h1 class="text-4xl font-medium">
            Sitio en construcción
        </h1>
        <p>Ya mero sale esta página, falta poquito, así que no se desesperen.</p>
        <Image src={chambeando} class="p-4" alt="gato chambeando" height="500" width="500" />
        <div class="p-8">
            <a href="/" class="bg-blue-700 hover:bg-blue-800 p-4 font-medium rounded">Regresar al inicio</a>
        </div>
    </main>
</Layout>