---
import "../styles/global.css";
import Social from "../components/Social.astro";
import { DIRECCION, TELEFONO, CORREO, NOMBRE } from "../constants";
---

<footer class="bg-gray-700 text-white text-center *:p-4 center-items justify-center">
  <address class="pb-4" id="contacto">
    <p>Dirección: {DIRECCION}</p>
    <a href={"tel:" + TELEFONO}>Celular: {TELEFONO}</a>
    <br/>
    <a href={"mailto:" + CORREO}>Email: {CORREO}</a>
    <br/>
    <Social />
  </address>
  <a class="rounded bg-red-700 hover:bg-red-800" href="/apoyanos"> 🤝 ¡Apoyanos!</a>

  <p class="opacity-20">{NOMBRE+'© '+new Date().getFullYear()}, derechos reservados.</p>
</footer>
