---
export interface Props {
    nota?: string;
    color: string;
}

const { nota, color } = Astro.props;

const hoverColor = `bg-${color.split("-")[1]}-${parseInt(color.split("-")[2]) + 100}`;
---

{
    nota 
        ? 
            <a
            class={`text-white p-1 font-medium rounded hover:${hoverColor} ${color} underline`}
            target="_blank"
            href={nota}>Nota completa
            </a>
        :
            ""
}
