---
export interface Props {
    nota?: string;
}
/**
 * @param nota link a la noticia o blog a redirigir
 *
 */
const { nota } = Astro.props;
---

{
    nota ? (
    <a
    class={` p-1 font-medium rounded-full hover:bg-red-800 bg-red-700`}
    target="_blank"
    href={nota}
    >Nota completa...
    </a>
    ) : ("")
}
