---
const partidos = false;

/*
TODO:
dos clases: los equipos y el partido
*/
---
{
    partidos
    ? 
        <div></div>
    
    : 
<div id="proximos_partidos">
    <h3>¡Partidos proximamente!</h3>
</div>
}