---
let partido = {
    visitante: {
        nombre: "",
        escudo: "/<escudo>.png",
    },
    fecha: new Date,
    vivo: false,
}
---

<div id="proximos_partidos">
    <h3>¡Partidos proximamente!</h3>
</div>