---
type RedSocial = {
    img: string;
    href: string;
};

const redesSociales: { [key: string]: RedSocial } = {
  facebook: {
    img: "/facebook.png",
    href: "https://www.facebook.com/profile.php?id=100066694115005",
  },

  Instagram: {
    img: "/instagram.png",
    href: "https://www.instagram.com/seleccionamdi22",
  },

  TikTok: {
    img: "/tiktok.png",
    href: "https://www.tiktok.com/@selectivoamdi_jalisco"
  }
};
---

<div id="redes">
    <p class="dark:text-white inline-flex ">Siguenos en nuestras redes sociales:</p>

    {
      //crear apartados automaticamente
      Object.keys(redesSociales).map((red) => {
        const { img, href } = redesSociales[red];
        return (
          <a
            href={href}
            target="_blank"
            class="inline-flex m-1">
            <img src={img} />
          </a>
        );
      })
    }
  </div>