---
import { Image } from "astro:assets";
import { redes } from "@data/social.json";
---

<div id="redes">
  {
    redes.map(({ img, href, alt }) => (
      <a href={href} target="_blank" class="inline-flex m-1">
        <img
          src={`/src/images/${img}`}
          alt={`Perfil de ${alt}`}
          title={`¡Siguenos en ${alt}!`}
          height="32"
          width="32"
        />
      </a>
    ))
  }
</div>
