---
import Portada from "@components/Portada.astro";
import Layout from "@layout";
---

<Layout title="Academia de futbol" description="AMDI Futbol | Página Oficial">
    <main>
        <Portada
            bg="partidos.webp"
            header="Academia de futbol"
            subheader="Academia enfocada en la practicidad y en el compañerismo"
        />
    </main>
</Layout>
