---
import Layout from "@layout";
import Portada from "@components/Portada.astro";
---

<Layout
    title="Academia Gym"
    description="AMDI Gym | Página Oficial"
>
    <main>
        <Portada
            header="Taekwondo AMDI"
            subheader="Academia de estilo de vida saludable y retadora"
            bg="partidos.jpg"
        />
    </main>
</Layout>
