---
import Layout from "@layout";
import Portada from "@components/Portada.astro";
---

<Layout
    title="Academia Taekwondo"
    description="AMDI Taekwondo | Página Oficial"
>
    <main>
        <Portada
            header="Taekwondo AMDI"
            subheader="Academia de este arte marcial enfocado en la destreza y el amor al deporte"
            bg="taekwondo.jpg"
        />
    </main>
</Layout>
