---
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="es-MX">
	<head>
		<BaseHead title="Selección AMDI Jalisco" description="Somos la Asociación Mexicana de Desarrollo Motriz Infantil, la comunidad de apoyo que fomenta el compañerismo y la disciplina a niveles profesionales."/>
	</head>
	<body class="bg-black">
		<slot />
		<Footer></Footer>
	</body>
</html>
