---
import Footer from "@components/Footer.astro";
import BaseHead from "@components/BaseHead.astro";
import Nav from "@components/Nav.astro";
import Trabajando from "@components/Trabajando.astro";
import "src/styles/global.css"

/**
  @param title string - Título de la página
  @param description string - Descripción de la página
  @param draft boolean? - Si la página está en construcción. Si lo está se mostrará un mensaje un componente indicando que está en construcción
*/
export interface Props {
	title: string;
	description: string;
	cover?: string;
	draft?: boolean;
}

const { title, description, draft, cover } = Astro.props;
---

<!doctype html>
<html lang="es-MX">
	<head>
		<BaseHead
			title={title}
			description={description}
			cover={cover}
		/>
	</head>
	<body class="bg-[#121212]">
		<div class="py-9"></div>
		<Nav />
		<slot />
		<Trabajando draft={draft} />
		<Footer />
	</body>
</html>