---
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	content?: string;
}

const { title, content } = Astro.props;
---

<!doctype html>
<html lang="es-MX">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={content? content : "¡Somos AMDI! Unete y juega con nosotros"} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
		<ViewTransitions></ViewTransitions>
	</head>
	<body class="bg-black">
		<slot />
		<Footer></Footer>
	</body>
</html>
