---
import Footer from "@components/Footer.astro";
import BaseHead from "@components/BaseHead.astro";
import Nav from "@components/Nav.astro";
import Trabajando from "@components/Trabajando.astro";

/*
  @title: string - Título de la página
  @description: string - Descripción de la página
  @draft?: boolean - Si la página está en construcción. Si lo está se mostrará un mensaje un componente indicando que está en construcción
*/
export interface Props {
	title: string;
	description: string;
	draft?: boolean;
}

const { title, description, draft } = Astro.props;
---

<!doctype html>
<html lang="es-MX">
	<head>
		<BaseHead
			title={title}
			description={description}
		/>
		<link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body class="bg-[#121212]">
		<div class="py-9"></div>
		<Nav />
		<slot />
		<Trabajando draft={draft} />
		<Footer />
	</body>
</html>